body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    height: 150px;
    resize: vertical;
    min-height: 200px;
    max-height: 200px;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button, .Cancel-btn, .ShowData-btn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-decoration: none;
}
.ShowData-btn {
    background-color: #2ecc71;
}
.Cancel-btn {
    background-color: #e74c3c;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
